extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Andrew Hinkson
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a lifetime learner that is currently realizing that I am amazing. I may not have alot of experience but I make up for that by being driven and willing to learn. I will make sure to work harder than any employee you have ever had and can guarantee that you will be making a great decision by hiring me. I am learning something new everyday and will bring that to your company everyday. 
          p  
            | Thank you for your time.
          p
            | PS I also love dogs.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li JavsScript
          li Node.js
          li HTML
          li CSS 
          li DOM Manipulation
          li PUG Templating
          li Public API Requests
          li Error Handling
          li Debugging in the Browser
        h6 Contact Info
        ul
          li anhinkson8842@hotmail.com

        a.button.expanded(href='https://www.linkedin.com/in/andrew-hinkson-3a8416165/') LinkedIn
        a.button.expanded(href='https://github.com/hinksonAndrew') GitHub
        a.button.expanded(href='https://twitter.com/hinkson_andrew') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  